version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "04:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore(actions)"
    assignees:
      - __ASSIGNEE__

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "04:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
      - "npm"
    commit-message:
      prefix: "chore(npm)"
    assignees:
      - __ASSIGNEE__

  - package-ecosystem: "nix"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "04:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
      - "nix"
    commit-message:
      prefix: "chore(nix)"
    assignees:
      - __ASSIGNEE__

