# `.env` を暗号化して `.env.enc` を作成する場合

# 暗号化
# sops encrypt --input-type dotenv --output-type dotenv .env > .env.enc
# 確認
# sops decrypt --input-type dotenv --output-type dotenv .env.enc
# 元ファイルを削除
# rm .env

# 復号
# `.env.decrypted`という名前で復号する場合
# sops decrypt --input-type dotenv --output-type dotenv .env.enc > .env.decrypted

# 編集
# `sops edit <file>` で暗号化ファイルを一時的に復号してエディタで開き、保存後に再暗号化
# sops edit --input-type dotenv --output-type dotenv .env.enc

# 更新
# 公開鍵の追加や削除を行う場合
# sops updatekeys .env.enc
# sops rotate -i .env.enc


VITE_API_BASE_URL=https://api.example.com
API_SECRET_KEY=replace-me

